@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #fff6df;
  --color-primary-container: #ffd700;
  --color-on-primary-container: #705e00;
  --color-secondary-container: #ad0224;
  --color-on-secondary: #680011;
  --color-tertiary-container: #c8dbff;
  --color-surface-container: #1f1f20;
  --color-surface-container-low: #1b1b1c;
  --color-surface-container-high: #2a2a2b;
  --color-surface-container-highest: #353436;
  --color-surface-container-lowest: #0e0e0f;
  --color-inverse-surface: #e5e2e3;
  --color-inverse-primary: #705d00;
  --color-inverse-on-surface: #303031;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-on-surface-variant: #d0c6ab;

  --font-headline: "Epilogue", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer utilities {
  .halftone-bg {
    background-color: var(--color-secondary-container);
    background-image: radial-gradient(#000 15%, transparent 16%), radial-gradient(#000 15%, transparent 16%);
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
  }
  .halftone-bg-light {
    background-image: radial-gradient(circle, #353436 2px, transparent 2.5px);
    background-size: 8px 8px;
  }
  .comic-border {
    border: 4px solid #000;
  }
  .comic-shadow {
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
  }
  .comic-btn-hover:hover {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
  }
}

body {
  @apply bg-[#131314] text-[#e5e2e3] font-body overflow-x-hidden selection:bg-primary-container selection:text-on-primary-container;
}
